Distributed_Software/A3_DaveHubbard/Projects/TravelInfo/ConsoleApplication1/Service References/ServiceReference1/TravelInfo1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="distanceConversion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:double" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="distanceConversionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="distanceConversionResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZipCodeDistance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zip1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zip2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZipCodeDistanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ZipCodeDistanceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>