Distributed_Software/Assignment 5/Projects/GolfApp/GolfApp/Service References/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar8.fulton.asu.edu/Page5/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar8.fulton.asu.edu/Page5/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webstrar8.fulton.asu.edu/Page5/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://webstrar8.fulton.asu.edu/Page5/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Top10Words_InputMessage">
    <wsdl:part name="parameters" element="tns:Top10Words" />
  </wsdl:message>
  <wsdl:message name="IService_Top10Words_OutputMessage">
    <wsdl:part name="parameters" element="tns:Top10WordsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WordFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:WordFilter" />
  </wsdl:message>
  <wsdl:message name="IService_WordFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:WordFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Top10ContentWords_InputMessage">
    <wsdl:part name="parameters" element="tns:Top10ContentWords" />
  </wsdl:message>
  <wsdl:message name="IService_Top10ContentWords_OutputMessage">
    <wsdl:part name="parameters" element="tns:Top10ContentWordsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Subtract_InputMessage">
    <wsdl:part name="parameters" element="tns:Subtract" />
  </wsdl:message>
  <wsdl:message name="IService_Subtract_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubtractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetData" message="tns:IService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataResponse" message="tns:IService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetDataUsingDataContract" message="tns:IService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataUsingDataContractResponse" message="tns:IService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Top10Words">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Top10Words" message="tns:IService_Top10Words_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Top10WordsResponse" message="tns:IService_Top10Words_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WordFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WordFilter" message="tns:IService_WordFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WordFilterResponse" message="tns:IService_WordFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Top10ContentWords">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Top10ContentWords" message="tns:IService_Top10ContentWords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Top10ContentWordsResponse" message="tns:IService_Top10ContentWords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Add" message="tns:IService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddResponse" message="tns:IService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subtract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Subtract" message="tns:IService_Subtract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SubtractResponse" message="tns:IService_Subtract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Top10Words">
      <soap:operation soapAction="http://tempuri.org/IService/Top10Words" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WordFilter">
      <soap:operation soapAction="http://tempuri.org/IService/WordFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Top10ContentWords">
      <soap:operation soapAction="http://tempuri.org/IService/Top10ContentWords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subtract">
      <soap:operation soapAction="http://tempuri.org/IService/Subtract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://webstrar8.fulton.asu.edu/Page5/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>