Distributed_Software/A4_DaveHubbard/WcfService1/WebApplication2/Service References/xmlProxy/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ValidateXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlFile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xsdFile" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateXMLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XMLTransform">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlFile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xslFile" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XMLTransformResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XMLTransformResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>